.transactionHistory {
  /* width: 300px; */
}

table {
  /* border-spacing: 0 5px; */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 40px auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.87);
  border-radius: 2px;
}

tbody {
  font-weight: normal;
  color: #6c6b6b;
}

th {
  background: #5db4c1;
  color: white;
  padding: 10px 80px;
}

th,
td {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: white;
  text-align: center;
  padding: 8px 80px;
}

tr:nth-child(2n) {
  background: #e8e9ea;
}

td {
  text-transform: capitalize;
}
